@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,100&display=swap");
.btjn {
  background-color: aqua;
  color: blue;
  padding: 12px 23px;
  margin: 10px;
  border: none;
  border-radius: 12px;
}body{
    caret-color: crimson;
}
.btjn:hover{
background-color: beige;
}
input:focus{
    outline: none;background-color: blue;
}
ul li:nth-child(odd){
    color: aqua;
}ul li:nth-child(even){
    color: rgb(123, 133, 133);
}ul li::marker{
    color: chocolate;
}