/* @import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,100&display=swap");
body {
  font-family: "Noto Serif", serif;font-weight: bolder;font-style: oblique;text-decoration: underline;} */
body{
    font-family: roboto;
}

.btn{
    background-color: tomato;color: wheat;border: none;padding: 16px 30px;border-radius: 16px;
}
.card img{
   height: 100px;border-radius: 50%
}

@media (min-width:586px){
  .cntnr{
    display: flex;justify-content: center;align-items: center;
  }
  .card{
width: 500px;border: 6px solid red;padding: 50px;margin: 50px auto;border-radius: 15px;text-align: center;
}
}
@media(max-width: 586px){
  .cntnr{
    display: flex;justify-content: center;align-items: center;flex-wrap: wrap;
  }
  .card{
border: 6px solid red;padding: 50px;margin: 50px auto;border-radius: 15px;text-align: center;
}
}